@page
@model Proyecto_Laboratorios_Univalle.Pages.Maintenances.DeleteModel

@{
    ViewData["Title"] = "Eliminar Mantenimiento";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de que desea eliminar este Registro de Mantenimiento?</h3>
<div>
    <h4>Mantenimiento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maintenance.Equipment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maintenance.Equipment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maintenance.MaintenanceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maintenance.MaintenanceType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maintenance.ScheduledDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maintenance.ScheduledDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Maintenance.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maintenance.Status)
        </dd>
        <dt class="col-sm-2">
            Costo Total
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Maintenance.ActualCost)
        </dd>
        <hr />
        <dt class="col-sm-2">
            Auditoría
        </dt>
        <dd class="col-sm-10">
            <small>
                <strong>Creado:</strong> @Model.Maintenance.CreatedDate.ToString("dd/MM/yyyy HH:mm")
                @if (Model.Maintenance.CreatedBy != null)
                {
                    <span> por @Model.Maintenance.CreatedBy.FullName</span>
                }
                <br />
                @if (Model.Maintenance.LastModifiedDate.HasValue)
                {
                    <strong>Modificado:</strong> @Model.Maintenance.LastModifiedDate.Value.ToString("dd/MM/yyyy HH:mm")
                    @if (Model.Maintenance.ModifiedBy != null)
                    {
                        <span> por @Model.Maintenance.ModifiedBy.FullName</span>
                    }
                }
            </small>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Maintenance.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver al Listado</a>
    </form>
</div>
