@page
@model Proyecto_Laboratorios_Univalle.Pages.Maintenances.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Índice de Mantenimientos</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Maintenances[0].Equipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maintenances[0].MaintenanceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maintenances[0].Technician)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maintenances[0].ScheduledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maintenances[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maintenances[0].CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Maintenances) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technician.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
