@page
@model Proyecto_Laboratorios_Univalle.Pages.Faculties.DeleteModel

@{
    ViewData["Title"] = "Eliminar Facultad";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de que desea eliminar esto?</h3>
<div>
    <h4>Facultad</h4>
    <hr />
    <dl class="row">
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Status)
        </dd>
        <hr class="col-12" />
        <dt class="col-sm-2">
            Fecha de Registro
        </dt>
        <dd class="col-sm-10">
            @Model.Faculty.CreatedDate.ToString("dd/MM/yyyy HH:mm")
            @if (Model.Faculty.CreatedBy != null)
            {
                <span class="text-muted"> por @Model.Faculty.CreatedBy.FullName</span>
            }
        </dd>
        @if (Model.Faculty.LastModifiedDate.HasValue)
        {
            <dt class="col-sm-2">
                Última Modificación
            </dt>
            <dd class="col-sm-10">
                @Model.Faculty.LastModifiedDate.Value.ToString("dd/MM/yyyy HH:mm")
                @if (Model.Faculty.ModifiedBy != null)
                {
                    <span class="text-muted"> por @Model.Faculty.ModifiedBy.FullName</span>
                }
            </dd>
        }
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Faculty.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver al Listado</a>
    </form>
</div>
