@page
@model Proyecto_Laboratorios_Univalle.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Full Name</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName) @Html.DisplayFor(model => model.User.SecondLastName)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.User.IdentityCard)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.User.IdentityCard)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.User.Role)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.User.Role)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.User.Status)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.User.Status)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.User.Position)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.User.Position)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.User.Department)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.User.Department)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.User.HireDate)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.User.HireDate)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.User.Email)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.User.Email)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.User.PhoneNumber)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.User.PhoneNumber)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.User.UserName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.User.UserName)</dd>

        <hr />
        <dt class="col-sm-3">Audit Information</dt>
        <dd class="col-sm-9">
            <small>
                Created: @Html.DisplayFor(model => model.User.CreatedDate) by @Html.DisplayFor(model => model.User.CreatedBy.FirstName)<br />
                Modified: @Html.DisplayFor(model => model.User.LastModifiedDate) by @Html.DisplayFor(model => model.User.ModifiedBy.FirstName)
            </small>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
