@page
@model Proyecto_Laboratorios_Univalle.Pages.Requests.DetailsModel

@{
    ViewData["Title"] = "Detalles de la Solicitud";
}

<h1>Detalles</h1>

<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.Equipment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.Equipment.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.RequestedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.RequestedBy.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.Observations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.Observations)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.ApprovedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.ApprovedBy.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.ApprovalDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.ApprovalDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRequest.RejectionReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRequest.RejectionReason)
        </dd>
        <hr class="col-12" />
        <dt class="col-sm-2">
            Fecha de Registro
        </dt>
        <dd class="col-sm-10">
            @Model.MaintenanceRequest.CreatedDate.ToString("dd/MM/yyyy HH:mm")
            @if (Model.MaintenanceRequest.CreatedBy != null)
            {
                <span class="text-muted"> por @Model.MaintenanceRequest.CreatedBy.FullName</span>
            }
        </dd>
        @if (Model.MaintenanceRequest.LastModifiedDate.HasValue)
        {
            <dt class="col-sm-2">
                Última Modificación
            </dt>
            <dd class="col-sm-10">
                @Model.MaintenanceRequest.LastModifiedDate.Value.ToString("dd/MM/yyyy HH:mm")
                @if (Model.MaintenanceRequest.ModifiedBy != null)
                {
                    <span class="text-muted"> por @Model.MaintenanceRequest.ModifiedBy.FullName</span>
                }
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MaintenanceRequest.Id">Editar</a> |
    <a asp-page="./Index">Volver al Listado</a>
</div>
