@page
@model Proyecto_Laboratorios_Univalle.Pages.EquipmentTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Equipment Type</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipmentType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentType.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipmentType.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentType.RequiresCalibration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipmentType.RequiresCalibration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentType.MaintenanceFrequencyMonths)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EquipmentType.MaintenanceFrequencyMonths)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EquipmentType.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
